@model Model.EF.Table_Username

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Table_Username</h4>
    <hr />
    <div class="table">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NameUser)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameUser)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PassUser)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PassUser)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgaySinh)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GioiTinh)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SDT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SDT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Chucvu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Chucvu)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ImageUser)
            </dt>

            <dd>
                <img id="anhphimxx" src="~/Content/image_webfim/@Model.ImageUser" width="400" style="max-width:400px;max-height:226px; border: 1px solid red" />
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDUserName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
