@model Model.EF.Table_Username

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Table_Username</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDUserName)

        <div class="form-group">
            @Html.LabelFor(model => model.NameUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PassUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PassUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PassUser, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgaySinh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" type="date" value="@Model.NgaySinh.ToString()" id="NgaySinh" name="NgaySinh">
                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GioiTinh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Chucvu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Chucvu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Chucvu, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImageUser, htmlAttributes: new { @class = "control-label col-md-2" })

            <input class="form-control text-box single-line" id="ImageUser" name="ImageUser" type="text" value="" style=" display: none;">

            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.ImageUser, "", new { @class = "text-danger" })
            </div>
            <img id="anhphimxx" src="~/Content/image_webfim/@Model.ImageUser" width="400" style="max-width:400px;max-height:226px; border: 1px solid red" />
            <img id="pictureUpload" width="400" style="max-width:400px;max-height:226px; border: 1px solid red" />
            <div class="col-md-2">
                <div class="form-inline">
                    <input type="file" id="fileUpload" accept="images/*" name="fileUpload" style="display:none;" />
                    <input type="button" id="btnUpload" value="Thay ảnh" class=" btn btn-success" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section upload
{
    <script>
        $(function () {
            $('#pictureUpload').hide()
            //dang ky su kien click
            $('#btnUpload').click(function () {
                $('#fileUpload').trigger('click'),
                    $('#anhphimxx').remove(),
                $('#pictureUpload').show()

            });


            // bat su kien change data cua fileUpload
            $('#fileUpload').change(function () {
                //kiem tra trinh duyen co ho tro formdata hay ko

                if (window.FormData !== undefined) {
                    var fileUpload = $('#fileUpload').get(0);
                    var files = fileUpload.files;
                    var formData = new FormData();
                    formData.append('file', files[0]);
                    $.ajax({

                        type: 'POST',
                        url: '/Admin/Table_Username/ProcesUpload',
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (urlImage) {
                            $('#pictureUpload').attr("src", "/Content/image_webfim/" + urlImage);
                            $('#ImageUser').val(urlImage);

                        },
                        error: function (err) {
                            alert('co loi khi upload: ', err.statusText)
                        }

                    });
                }
            });


        });

    </script>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        $(document).ready(function () {
            $("#NgaySinh").datepicker({

                DateFormat: @Model.NgaySinh.ToString()",
                changeMonth: true,
                changeYear: true
            });
        });
    </script>}