@model IEnumerable<Model.EF.Table_Username>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chucvu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chucvu)
        </td>
        <td>
            <img src="~/Content/image_webfim/@item.ImageUser" style="width:50px; height:70px;" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDUserName }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDUserName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDUserName })
        </td>
    </tr>
}

</table>
